@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@100;400;600&display=swap');
.container {
    margin: 0px auto;
    max-width: 700px;
    background-color: none;
}
body {
    font-family: poppins;
    background-color: #f4f8f2;
    padding: 150px;
}

.cross-icon {
    height: 35px;
}

.alert {
    border-radius: 10px;
    margin: 30px 0px;
    padding: 25px 10px; 
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.success {
    border: solid rgb(5, 218, 5) 2px;
}

.error {
    border: solid rgb(218, 5, 5) 2px;
}

.warning {
    border: solid rgb(51, 116, 255) 2px;
}